@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&family=Roboto:wght@500;700&family=Source+Sans+Pro&display=swap");

:root {
  /* Color */
  --header-background-color: #ffffff;
  --background-color: #f9f9f9;
  --white: #ffffff;
  --black: #030303;
  --blue: #045fd4;
  --red: #ff0000;
  --grey-dark: #909090;
  --grey-light: #ececec;

  /* Size */
  --padding-large: 30px;
  --padding-medium: 20px;
  --padding-small: 10px;
  --padding-x-small: 5px;
  --avatar-size: 40px;
  --icon-size: 18px;

  /* Font Size */
  --font-x-large: 18px;
  --font-large: 16px;
  --font-medium: 14px;
  --font-small: 12px;
  --font-micro: 10px;

  /* Border */
  --border: 1px solid var(--grey-light);

  /* Margin */
  --header-icon-margin-large: 10px;
  --header-icon-margin-medium: 5px;
}

body {
  font-family: "Roboto", sans-serif;
  display: block;
  padding: 0 var(--padding-large);
  margin-top: 80px;
  background-color: var(--background-color);
}

button,
button:focus {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 60px;
  padding: var(--padding-small) var(--padding-large);
  background-color: var(--header-background-color);
  color: var(--black);
  box-sizing: border-box;
  z-index: 100;
}

header .hamburgerAndLogo {
  display: flex;
  align-items: center;
  width: 200px;
  min-width: 200px;
  /* margin-right: 20px; */
}

header .hamburgerAndLogo .hamburger {
  margin-right: 20px;
  font-size: var(--font-x-large);
}

header .hamburgerAndLogo .logo {
  display: flex;
  align-items: center;
  position: relative;
  font-size: var(--font-x-large);
  font-weight: 800;
}

header .logo i {
  margin-right: calc(var(--padding-small) / 3);
  color: var(--red);
  font-size: 30px;
}

header .logo span {
  position: absolute;
  top: -3px;
  right: -13px;
  color: var(--grey-dark);
  font-size: var(--font-micro);
}

header .searchBar {
  display: flex;
  align-items: center;
  width: 65%;
  max-width: 730px;
  height: 40px;
  box-sizing: border-box;
}

header .searchBar .searchInput {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 8px;
  border: var(--border);
  border-radius: 3px 0 0 3px;
  box-sizing: border-box;
}

header .searchBar .searchInput input {
  width: 100%;
  height: 100%;
  margin-right: 5px;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 15px;
}

header .searchBar .searchInput .fa-keyboard {
  color: var(--grey-dark);
}

header .searchBar .searchButton {
  width: 70px;
  height: 100%;
  border: var(--border);
  border-radius: 0 3px 3px 0;
  background-color: #f8f8f8;
  box-sizing: border-box;
  text-align: center;
}

header .searchBar .searchButton .searchBtn {
  width: 70px;
  height: 100%;
}

header .searchBar .searchButton .searchBtn i {
  font-size: 18px;
}

header .fa-microphone {
  width: 15px;
  height: 15px;
  padding: 10px;
  margin: 0 var(--header-icon-margin-medium);
  border-radius: 50%;
  background-color: var(--background-color);
}

header .icons {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

header .icons i,
header .fa-microphone {
  text-align: center;
  cursor: pointer;
}

header .icons i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 100%;
  margin: 0 var(--header-icon-margin-medium);
}

header .icons .fa-user {
  width: 15px;
  height: 15px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--grey-light);
}

/* Video */
.player {
  text-align: center;
}

.player video {
  width: 100%;
  max-width: 1000px;
  height: 100%;
}

/* Video Info */
section.info {
  padding: var(--padding-medium) 0;
}

.info .metadata .hashtags {
  display: flex;
  color: var(--blue);
  font-size: var(--font-small);
}

.info .metadata .hashtag {
  margin-right: var(--padding-small);
}

.info .metadata .title {
  display: -webkit-box;
  padding-top: var(--padding-x-small);
  font-size: var(--font-large);
  line-height: calc(var(--font-large) + 5px);
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.info .metadata .title span {
  font-size: calc(var(--font-x-large) - 1px);
}

/* Views And Action */

.viewsAndAction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.views,
.views span {
  display: flex;
  align-items: center;
  color: var(--grey-dark);
}

.viewsAndAction > .views {
  font-size: var(--font-medium);
}

.views .divider {
  display: block;
  width: 3px;
  height: 3px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: var(--grey-dark);
}

/* Actions */
.info .actions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 65%;
  padding: var(--padding-small) 0;
  margin-left: var(--padding-small);
}

.info .actions li button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey-dark);
  font-size: var(--font-small);
  cursor: pointer;
}

.info .actions li button i {
  margin-right: 8px;
  font-size: var(--icon-size);
}

.info .actions li button i.active {
  color: var(--blue);
}

/* Channel Description */
.channel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-medium) 0;
  border-top: var(--border);
  border-bottom: var(--border);
}

.channel .metadata {
  display: flex;
  align-items: center;
}

.channel .metadata .avatar {
  width: var(--avatar-size);
  height: var(--avatar-size);
  margin-right: calc(var(--padding-medium) / 2);
  border-radius: 50%;
}

.channel .metadata .info {
  display: flex;
  flex-direction: column;
}

.channel .metadata .info .name {
  font-size: var(--font-medium);
  margin-bottom: var(--padding-x-small);
}

.channel .metadata .subscriber {
  color: var(--grey-dark);
  font-size: var(--font-small);
}

.channel .subscribe {
  padding: 10px 15px;
  border-radius: 3px;
  background-color: var(--grey-light);
  color: var(--grey-dark);
  font-size: var(--font-medium);
}

/* UpNext */
.upNext {
  padding: 0;
}

.upNext .item {
  display: flex;
  width: 100%;
  margin-bottom: calc(var(--padding-medium) / 2);
  cursor: pointer;
}

.upNext .item .img {
  width: 170px;
  min-width: 170px;
}

.upNext .item .img img {
  width: 100%;
}

.upNext .item .info {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: var(--padding-small);
}

.upNext .item .info .title {
  display: -webkit-box;
  font-size: var(--font-medium);
  line-height: calc(var(--font-medium) + 5px);
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.upNext .item .info .name,
.upNext .item .info .views {
  margin-top: calc(var(--padding-small) / 2);
  color: var(--grey-dark);
  font-size: var(--font-small);
}

.upNext .item .moreBtn {
  height: 100%;
  visibility: hidden;
}

.upNext .item:hover .moreBtn {
  visibility: visible;
}

.infoAndUpNext {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1310px) {
  .upNext .item .info .views span {
    display: none;
  }
}

@media screen and (min-width: 1000px) {
  body {
    display: flex;
    justify-content: center;
  }

  .upNext {
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    padding: 0 var(--padding-medium);
  }
}

@media screen and (max-width: 750px) {
  .viewsAndAction .actions button span {
    display: none;
  }

  .viewsAndAction .views > span {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  header .searchBar {
    justify-content: flex-end;
  }

  header .searchBar .searchInput {
    display: none;
  }

  header .searchBar .searchButton {
    width: 35px;
    border: none;
    background-color: transparent;
  }

  header .searchBar .searchButton {
    width: 45px;
  }

  header .searchBar .searchButton .searchBtn {
    width: 100%;
    background-color: transparent;
  }

  header .fa-microphone {
    margin: var(--header-icon-margin-medium);
    background-color: transparent;
  }
}
